@import "tailwindcss";

@layer base {

  html,
  body,
  #root {
    overflow-x: hidden;
    max-width: 100vw;
  }

  body {
    background-color: #f5f6f8;
    color: #0f172a;
    /* text-slate-900 */
    font-family: 'Manrope', sans-serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE/Edge */
}

@supports (scrollbar-width: none) {
  .no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
  }
}

@keyframes scan {
  0% {
    top: 0%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

.animate-scan {
  animation: scan 3s linear infinite;
}

.material-symbols-outlined.fill-1 {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.nav-icon-active {
  font-variation-settings: 'FILL' 1, 'wght' 600 !important;
}

.nav-icon-inactive {
  font-variation-settings: 'FILL' 0, 'wght' 400 !important;
}

.progress-bar-fill {
  width: var(--progress-width, 0%);
}